<footer>
    <div class="footer-container">
        <div class="footer-about">
            <h3>CaseMaster</h3>
            <p>Din lösning för smidig ärendehantering. Effektivt, enkelt och alltid tillgängligt.</p>
        </div>



        <div class="footer-contact">
            <h4>Kontakt</h4>
            <p>Email: ahda23@student.bth.se</p>
            <p>Telefon: +46 700322609</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 TicketFlow. Alla rättigheter förbehållna.</p>
    </div>
</footer>
