<nav>
    <% if (session && session.userId) { %>
        <a href="/">Home</a>
        <a href="/tickets-list">View Tickets</a>
        <a href="/create">Create Ticket</a>

        <% if (session.userRole === 'admin' || session.userRole === 'agent') { %>
            <a href="/categories">Manage Categories</a>
        <% } %>
        <% if (session.userRole === 'admin') { %>
            <a href="/register">Create a new account</a>
            <a href="/users">All Users</a>
        <% } %>
 

        <a href="/logout">Logout</a>
        <span style="color: white;">Welcome, <%= session.username %></span>  <!-- Visa användarnamn -->
    <% } else { %>
        <a href="/login">Login</a>
    <% } %>
</nav>
