<link rel="icon" href="/css/favicon.ico" type="image/x-icon">

<header>
    <a href="/">
        <h1>CaseMaster</h1>
    </a>
    <nav>
        <a href="/tickets-list">View Tickets</a>
        <a href="/create">Create Ticket</a>
        <a href="/logout">logout</a>
    </nav>
</header>
