<%- include('./../partials/header.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Ticket</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section class="ticket-container">
        <div class="ticket-header">
            <h2>Create a New Support Ticket</h2>
        </div>
        <form action="/create" method="POST" enctype="multipart/form-data" class="ticket-form">
            <div class="ticket-row">
                <label for="problem">Problem</label>
                <input type="text" id="problem" name="problem" placeholder="Enter your issue or problem" required>
            </div>

            <div class="ticket-row">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="10" style="height: 150px;" placeholder="Describe your issue in detail" required></textarea>
            </div>

            <div class="ticket-row">
                <label for="category">Choose Category</label>
                <select name="category" id="category" required>
                    <option value="">Select Category</option>
                    <option value="Technical Support">Technical Support</option>
                    <option value="IT Services">IT Services</option>
                    <option value="Account issue">Account issue</option>
                    <option value="Performance">Performance</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <label for="attachment">Attach a Picture or Document</label>
            <!-- Se till att 'name' är korrekt och matchar Multer-konfigurationen -->
            <input type="file" id="attachment" name="attachment" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx">


            <div class="ticket-button">
                <button type="submit">Create Ticket</button>
            </div>
        </form>
    </section>

    <%- include('./../partials/footer.ejs') %>
</body>
