<%- include('./../partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketing System</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

    <div class="welcome-message">
        <h1>Welcome to CaseMaster!</h1>
        <p>Here you can create and manage your tickets easily.</p>
    </div>

    <div class="center-button">
        <a href="/create">Create Ticket</a> 
    </div>

</body>
</html>

<%- include('./../partials/footer.ejs') %>
